

# Projet: Evaluation de la presence dun cancer ou non en fonction de certains criteres

#### 1: Import du dataset

In [28]:
#Import des Libreries requises
import pandas as pd

In [29]:
#Import du dataset
df_diabetes_data = pd.read_csv ('/content/pima-indians-diabetes.data')

#### 2: Analyse du dataset

In [30]:
#Vu sur les premieres lignes du dataset
df_diabetes_data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [31]:
#vu sur la taille du dataset
df_diabetes_data.shape

(767, 9)

In [32]:
#utilisons les noms pour modifier le dataset
feature_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'pedigree', 'bmi', 'age', 'label']

In [6]:
df_diabetes_data = pd.read_csv ('/content/pima-indians-diabetes.data', header = None, names= feature_names)

In [7]:
df_diabetes_data.head()

   pregnant  glucose  bp  skin  insulin  pedigree    bmi  age  label
0         6      148  72    35        0      33.6  0.627   50      1
1         1       85  66    29        0      26.6  0.351   31      0
2         8      183  64     0        0      23.3  0.672   32      1
3         1       89  66    23       94      28.1  0.167   21      0
4         0      137  40    35      168      43.1  2.288   33      1

In [8]:
#vu du shape du dataset
df_diabetes_data.shape

(768, 9)

In [10]:
#Vu des noms des attributs
df_diabetes_data.columns

Index(['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'pedigree', 'bmi',
       'age', 'label'],
      dtype='object')

#### 3: Create objects to train and test the model; find the sales figures for each channel

In [11]:
#Creons un objet futurisé a laide des colones 
#selection de future dans le dataset
feature_select_cols = ['pregnant', 'insulin', 'bmi', 'age']
#objet futurisé
x_feature = df_diabetes_data[feature_select_cols]

#objet reponse
y_target =  df_diabetes_data['label']

In [12]:
#Vu de la taille de lobjet
x_feature.shape

(768, 4)

In [33]:
#Vu du target de lobjet
y_target.shape
#nous avons 768 observations

(768,)

#### 4: Split the original dataset into training and testing datasets for the model

In [15]:
# Divisons le dataset par defaut  ( 75% pour l'entrainement  et 25% pour le test  )
from sklearn.model_selection import  train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_feature, y_target, random_state=1)

In [16]:
#Verifions si la division a bien été effectuée
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(576, 4)
(576,)
(192, 4)
(192,)

#### 5: Creation d'un model de prediction de la maladie

In [17]:
#Create a linear regression model
from sklearn.linear_model import  LogisticRegression
linreg = LogisticRegression()
linreg.fit(x_train, y_train)

LogisticRegression()

In [18]:
#Affichons  l'intercept et le coefficients 
print (linreg.intercept_)
print (linreg.coef_)

[-2.5485578]
[[0.08187989 0.00271234 0.67717584 0.03082007]]

In [19]:
#Prédire le résultat de l'ensemble de données de test
y_pred = linreg.predict(x_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0])

#### 7: Calcul du  Mean Square Error (MSE)

In [24]:
#Import de la librairie necessaire
from sklearn import  metrics

0.6614583333333334

In [21]:
#Calcul du MSE
print (metrics.accuracy_score(y_test, y_pred))

In [27]:
#affichons les 30 premieres predictions
print("actual", y_test.values[0:30])
print("predic", y_train.values[0:30])

actual [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predic [0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 1 1 0 0 1 0 0]

In [ ]:
#avec une valeur plus élevée de SSR ou SSE le modele sera moin adapte et peu precis